body{
    background-color: teal;
}
p, #history{
    display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   font-size: 40px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Calc-Border{
    border: 10px black solid;
    background-color: rgba(210, 70, 70, 0.8);
}
#Screen-Border, #history{
    border: 10px black solid;
}
#container{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
    height: 360px;
    width: 360px;
    margin: auto;
    grid-gap: 10px;
    background-color: palegoldenrod;
}
#container > div:hover, #clear{
    background-color: rgba(0,0,0,.8);
}
#container > div, #clear{
display: flex;
background-color: red;
text-align: center;
justify-content: center;
align-items: center;
}
